{% extends 'base.html.twig' %}
{% block title %}Professors{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Role cards -->
        <div class="row g-4">
            {% for user in team %}
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="mx-auto mb-3">
                                <img src="{{ vich_uploader_asset(user) }}" alt="Avatar Image" class="rounded w-px-100">
                            </div>
                            <h5 class="mb-1 card-title">Dr.{{ user.lastName }}</h5>
                            {#                            {% for section in user.sections %} #}
                            <span>{{ user.email }}</span>
                            {#                            {% endfor %} #}
                            <div class="d-flex align-items-center justify-content-center my-3 gap-2">
                                {% for section in user.sections %}
                                    <a href="javascript:;" class="me-1"><span class="badge bg-label-secondary">{{ section.course.shortName }}</span></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="card">
                <div class="card-datatable table-responsive">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <table id="datatable" class="table border-top dataTable table-striped">
                            <thead>
                            <tr>
                                <th class="control sorting_disabled dtr-hidden" style="width: 0; display: none;"></th>
                                <th class="sorting sorting_desc" style="width: 100px" aria-sort="descending">User</th>
                                <th class="sorting">Role</th>
                                <th class="sorting text-nowrap">Last Login</th>
                                <th class="sorting text-nowrap">Phone No</th>
                                <th class="sorting text-nowrap">City</th>
                                <th class="sorting text-nowrap">Joined Date</th>
                                <th class="sorting_disabled">Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for user in users %}
                                <tr class="{{ user.id is odd ? 'odd' : 'even' }}">
                                    <td class="  control" style="display: none;" tabindex="0"></td>
                                    <td class="sorting_1">
                                        <div class="d-flex justify-content-start align-items-center user-name">
                                            <div class="avatar-wrapper">
                                                <div class="avatar avatar-sm me-3">
                                                    {% if user.imageName is null %}
                                                        <span class="avatar-initial rounded-circle bg-label-{{ random(['success', 'info', 'primary', 'secondary', 'dark', 'warning', 'danger']) }}">
                                                        {{ user.firstName|first }}{{ user.lastName|first }}
                                                    </span>
                                                    {% else %}
                                                        <img src="{{ vich_uploader_asset(user) }}" alt="Avatar" class="rounded-circle">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-body text-truncate">
                                                    <span class="fw-semibold text-capitalize">{{ user.firstName }} {{ user.lastName }}</span>
                                                </a>
                                                <small class="text-muted">{{ user.email }}</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {% for role in user.roles %}
                                            {% if role == "ROLE_ADMIN" %}
                                                <span class="text-truncate d-flex align-items-center">
                                                <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                                                    <i class='bx bx-shield-quarter bx-xs'></i>
                                                </span>
                                                Admin
                                            </span>
                                            {% elseif role == "ROLE_PROFESSOR" %}
                                                <span class="text-truncate d-flex align-items-center">
                                                <span class="badge badge-center rounded-pill bg-label-warning w-px-30 h-px-30 me-2">
                                                    <i class='bx bx-user bx-xs'></i>
                                                </span>
                                                Professor
                                            </span>
                                            {% elseif role == "ROLE_HUMAN_RESOURCES" %}
                                                <span class="text-truncate d-flex align-items-center">
                                                <span class="badge badge-center rounded-pill bg-label-info w-px-30 h-px-30 me-2">
                                                    <i class='bx bxs-business bx-xs'></i>
                                                </span>
                                                Human Resources
                                            </span>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <span class="badge bg-label-dark fs-tiny text-lowercase">2 days ago</span>
                                    </td>
                                    <td>
                                        <span class="fw-normal">{{ user.phoneNumber }}</span>
                                    </td>
                                    <td>
                                        <span>{{ user.address.city }}</span>
                                    </td>
                                    <td>
                                        <span class="fs-6">{{ user.createdAt|date('d/m/y') }}</span>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-label-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
                                                </li>
                                                <li>
                                                    {{ include('user/_delete_form.html.twig') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}