{% extends 'base.html.twig' %}

{% block title %}Profile {% endblock %}

{% block content %}
    {#    <div class="container-xxl flex-grow-1 container-p-y"> #}
    <!-- Header -->
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="user-avatar-section">
                        <div class=" d-flex align-items-center flex-column">
                            <img class="img-fluid rounded-circle my-4"
                                 src="{{ vich_uploader_asset(app.user) }}" alt="User avatar"
                                 width="110" height="110">
                            <div class="user-info text-center">
                                <h5 class="mb-2 text-capitalize d-flex align-items-center">
                                    <span>{{ app.user.firstName }} {{ app.user.lastName }}</span>
                                    <i class='bx bxs-badge-check text-primary ms-1'></i>
                                </h5>
                                <span class="badge bg-label-info">Administrator</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around flex-wrap my-4 py-3">
                        <div class="d-flex align-items-start me-4 mt-3 gap-3">
                                <span class="badge bg-label-primary p-2 rounded">
                                    <i class="bx bx-check bx-sm"></i>
                                </span>
                            <div>
                                <h5 class="mb-0">1.23k</h5>
                                <span>Tasks Done</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-start mt-3 gap-3">
                                <span class="badge bg-label-primary p-2 rounded">
                                    <i class="bx bx-customize bx-sm"></i>
                                </span>
                            <div>
                                <h5 class="mb-0">568</h5>
                                <span>Projects Done</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="fw-semibold">Profile Details</span>
                        <a href="{{ path('app_user_settings') }}" class="btn btn-label-primary btn-sm">Edit Profile</a>
                    </div>
                    <hr>
                    <small class="text-muted text-uppercase">About</small>
                    <ul class="list-unstyled mb-4 mt-3">
                        <li class="d-flex align-items-center mb-3">
                            <i class="bx bx-user"></i>
                            <span class="fw-semibold mx-2">Full Name:</span>
                            <span>{{ app.user.firstName }} {{ app.user.lastName }}</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <i class="bx bx-star"></i>
                            <span class="fw-semibold mx-2">Role:</span>
                            {#                                {% if is_granted('ROLE_ADMIN') %} #}
                            <span class="badge bg-label-primary">Student</span>
                            {#                                {% else %} #}
                            {#                                    <span class="badge bg-label-info">Member</span> #}
                            {#                                {% endif %} #}

                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <i class="bx bx-flag"></i>
                            <span class="fw-semibold mx-2">Address:</span>
                            <span>{{ app.user.address.street }}</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <i class="bx bx-detail"></i>
                            <span class="fw-semibold mx-2">City:</span>
                            <span>{{ app.user.address.city }}</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <i class="bx bx-detail"></i>
                            <span class="fw-semibold mx-2">Zip Code:</span>
                            <span>{{ app.user.address.zipCode }}</span>
                        </li>
                    </ul>
                    <small class="text-muted text-uppercase">Contacts</small>
                    <ul class="list-unstyled mb-4 mt-3">
                        <li class="d-flex align-items-center mb-3">
                            <i class="bx bx-phone"></i>
                            <span class="fw-semibold mx-2">Contact:</span>
                            <span>{{ app.user.phoneNumber }}</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <i class="bx bx-envelope"></i>
                            <span class="fw-semibold mx-2">Email:</span>
                            <span>{{ app.user.email }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <h5 class="card-header">Professor's List</h5>
                <div class="card-body">
                    <div class="table-responsive mb-3">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">

                            <table class="table border-top dataTable no-footer dtr-column" id="datatable" style="width: 745px;">
                                <thead>
                                <tr>
                                    <th class="control sorting dtr-hidden" style="width: 0px; display: none;"></th>
                                    <th style="width: 275px;">Professor</th>
                                    <th class="text-nowrap" style="width: 114px;">Department</th>
                                    <th class="text-nowrap" style="width: 79px;">Last Login</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td class="  control" style="display: none;" tabindex="0"></td>
                                        <td class="sorting_1">
                                            <div class="d-flex justify-content-start align-items-center user-name">
                                                <div class="avatar-wrapper">
                                                    <div class="avatar avatar-sm me-3">
                                                        {% if user.imageName is null %}
                                                            <span class="avatar-initial rounded-circle bg-label-{{ random(['success', 'info', 'primary', 'secondary', 'dark', 'warning', 'danger']) }}"
                                                            >
                                                                        {{ user.firstName|first }}{{ user.lastName|first }}
                                                                    </span>
                                                        {% else %}
                                                            <img src="{{ vich_uploader_asset(user) }}" alt="Avatar" class="rounded-circle">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <a href="#" class="text-body text-truncate">
                                                        <span class="fw-semibold text-capitalize">{{ user.firstName }} {{ user.lastName }}</span>
                                                    </a>
                                                    <small class="text-muted">{{ user.email }}</small>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            {% if user.departments is empty %}
                                                <span class="badge bg-label-danger">Not assigned yet</span>
                                            {% endif %}
                                            {% for department in user.departments %}
                                                <small class="text-nowrap">{{ department.name }}</small>
                                            {% endfor %}
                                        </td>
                                        <td><span class="badge bg-label-secondary">2 days ago</span></td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-5">
            <!-- About User -->
            <!--/ About User -->
            <!-- Profile Overview -->
            <div class="card mb-4">
                <div class="card-body">
                    <small class="text-muted text-uppercase">Overview</small>
                    <ul class="list-unstyled mt-3 mb-0">
                        <li class="d-flex align-items-center mb-3">
                            <i class="bx bx-check"></i>
                            <span class="fw-semibold mx-2">Task Compiled:</span>
                            <span>13.5k</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <i class="bx bx-customize"></i>
                            <span class="fw-semibold mx-2">Projects Compiled:</span>
                            <span>146</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="bx bx-user"></i>
                            <span class="fw-semibold mx-2">Connections:</span>
                            <span>897</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/ Profile Overview -->
        </div>
        <div class="col-xl-8 col-lg-7 col-md-7">
            <!-- Activity Timeline -->
            <!--/ Activity Timeline -->
            <div class="row">
                <!-- Connections -->
                <div class="col-lg-12 col-xl-6">
                    <div class="card card-action mb-4">
                        <div class="card-header align-items-center">
                            <h5 class="card-action-title mb-0">Recent Students</h5>
                            <div class="card-action-element">
                                <div class="dropdown">
                                    <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="bx bx-dots-vertical-rounded"></i></button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="javascript:void(0);">Share connections</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Suggest edits</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Report bug</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">

                                {% for student in students %}
                                    <li class="mb-3">
                                        <div class="d-flex align-items-start">
                                            <div class="d-flex align-items-start">
                                                <div class="avatar me-3">
                                                    {% if student.imageName is null %}
                                                        <span class="avatar-initial rounded-circle bg-label-{{ random(['success', 'info', 'primary', 'secondary', 'dark', 'warning', 'danger']) }}">
                                                                 {{ student.firstName|first }}{{ student.lastName|first }}
                                                            </span>
                                                    {% else %}
                                                        <img src="{{ vich_uploader_asset(student) }}" alt="Avatar" class="rounded-circle">
                                                    {% endif %}
                                                </div>
                                                <div class="me-2">
                                                    <h6 class="mb-0">{{ student.firstName }} {{ student.lastName }}</h6> <small class="text-muted">45 Connections</small>
                                                </div>
                                            </div>
                                            <div class="ms-auto">
                                                <button class="btn btn-label-primary btn-icon btn-sm"><i class="bx bx-user"></i></button>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                                <li class="text-center"><a href="javascript:;">View all students</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/ Connections -->
                <!-- Teams -->
                <div class="col-lg-12 col-xl-6">
                    <div class="card card-action mb-4">
                        <div class="card-header align-items-center">
                            <h5 class="card-action-title mb-0">Teams</h5>
                            <div class="card-action-element">
                                <div class="dropdown">
                                    <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="bx bx-dots-vertical-rounded"></i></button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="javascript:void(0);">Share teams</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Suggest edits</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Report bug</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                {% for user in field.users %}
                                    <li class="mb-3">
                                        <div class="d-flex align-items-center">
                                            <div class="d-flex align-items-start">
                                                <div class="avatar me-3">
                                                    {% if user.imageName is null %}
                                                        <span class="avatar-initial rounded-circle bg-label-{{ random(['success', 'info', 'primary', 'secondary', 'dark', 'warning', 'danger']) }}">
                                                                {{ user.firstName|first }}{{ user.lastName|first }}
                                                            </span>
                                                    {% else %}
                                                        <img src="{{ vich_uploader_asset(user) }}" alt="Avatar" class="rounded-circle">
                                                    {% endif %}
                                                </div>
                                                <div class="me-2">
                                                    <h6 class="mb-0">Dr.{{ user.firstName }} {{ user.lastName }}</h6>
                                                    <small class="text-muted">Professor</small>
                                                </div>
                                            </div>
                                            <div class="ms-auto">
                                                <a href="javascript:;">
                                                        <span class="badge bg-label-primary">
                                                            {{ field.shortName }}
                                                        </span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                <li class="text-center"><a href="javascript:;">View all teams</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/ Teams -->
            </div>
        </div>
    </div>
    <!--/ User Profile Content -->

    </div>
{% endblock %}