{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">

        {{ include('components/statistics/_courses_stats.htmt.twig') }}

        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="h4">Courses List</h4>
                </div>

                <div>
                    <a href="{{ path('app_course_new') }}" class="btn btn-secondary add-new btn-primary">
                    <span>
                        <i class="bx bx-plus me-0 me-sm-1"></i>
                        <span class="d-none d-sm-inline-block">Add New Course
                        </span>
                    </span>
                    </a>
                </div>
            </div>

            <div class="card-datatable table-responsive">
                <div class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <table id="datatable" class="table border-top dataTable dtr-column table-striped" style="width: 1130px;">
                        <thead>
                        <tr>
                            <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label=""></th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">
                                Name
                            </th>
                            <th class="sorting_disabled text-nowrap" rowspan="1" colspan="1" aria-label="Assigned To">Department</th>
                            <th class="sorting_disabled text-nowrap" rowspan="1" colspan="1" aria-label="Assigned To">Modules</th>
                            <th class="sorting_disabled text-nowrap" rowspan="1" colspan="1" aria-label="Assigned To">Total session</th>
                            <th class="sorting_disabled text-nowrap" rowspan="1" colspan="1" aria-label="Assigned To">hours</th>
                            <th class="sorting_disabled text-nowrap" rowspan="1" colspan="1" aria-label="Created Date">Created Date</th>
                            <th class="sorting_disabled text-nowrap" rowspan="1" colspan="1" aria-label="Actions">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if courses is empty %}
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div class="d-flex flex-column align-items-center py-3">
                                        <img src="{{ asset('assets/img/illustrations/empty.svg') }}" width="200" alt="empty svg">
                                        <span class="mt-2">No row found.</span>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            {% for course in courses %}
                                <tr class="{{ course.id is odd ? 'odd' : 'even' }}">
                                    <td class="control" style="display: none;" tabindex="0"></td>
                                    <td class="sorting_1">
                                        <strong class="text-nowrap text-capitalize">{{ course.name|length > 20 ? course.name|slice(0, 20) ~ '...' : course.name }}</strong>
                                    </td>
                                    <td>
                                        <span class="text-nowrap">
                                            <span class="text-nowrap">{{ course.department|length > 20 ? course.department|slice(0, 20) ~ '...' : course.department }}</span>
                                        </span>
                                    </td>
                                    <td>
                                        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                            {% for module in course.modules %}
                                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up"
                                                    aria-label="Lilian Fuller"
                                                    data-bs-original-title="{{ module.name }}">
                                                    <img src="{{ vich_uploader_asset(module) }}" alt="Avatar" class="rounded-circle">
                                                </li>
                                            {% else %}
                                                <span class="badge bg-label-danger">empty</span>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        <span class="text-nowrap">
                                            <span class="badge badge-center bg-label-primary">{{ course.totalSession }}</span>
                                            sessions
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge bg-label-secondary">{{ course.hours }} hours</span>
                                    </td>
                                    <td>
                                        <span class="text-nowrap">{{ course.createdAt|date('d/m/y') }}</span>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-label-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('app_course_edit', {'id': course.id}) }}">Edit</a>
                                                </li>
                                                <li>
                                                    {{ include('course/_delete_form.html.twig') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% for flashMessage in app.flashes('success') %}
        {{ component('Toast', {
            heading: 'Success',
            type: 'success',
            message: flashMessage
        }) }}
    {% endfor %}

    {% for flashMessage in app.flashes('info') %}
        {{ component('Toast', {
            heading: 'Information',
            type: 'info',
            message: flashMessage,
            color: '#03C3EC'
        }) }}
    {% endfor %}

{% endblock %}
