{% extends 'base.html.twig' %}

 {% block title %}2FA Verification{% endblock %}
{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/pages/page-auth.css') }}">
{% endblock %}

 {% block body %}
     <div class="container-xxl">
         <div class="authentication-wrapper authentication-basic container-p-y">
             <div class="authentication-inner">
                 <!-- Register -->
                 <div class="card">
                     <div class="card-body">
                         <!-- Logo -->
                         <div class="app-brand justify-content-center">
                             <a href="#" class="app-brand-link gap-2">
                          <span class="app-brand-logo demo">
                              <img src="{{ asset('assets/img/french-logo.svg') }}" width="180px" alt="ENSET Logo">
                          </span>
                             </a>
                             <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                                 <i class="bx bx-chevron-left bx-sm align-middle"></i>
                             </a>
                         </div>
                         <!-- /Logo -->
                         <h4 class="mb-2">Two Step Verification 💬</h4>
                         <p class="mb-4">We sent a verification code to your email. Enter the code from the email in the field below.
                             {#                             <strong>{{ str_replace(app.user.email, str_repeat('*', app.user.email), 0, -4) }}</strong> #}
                         </p>
                         <p class="mb-0 fw-semibold">Type your 6 digit security code</p>

                         {# Authentication errors #}
                         {% if authenticationError %}
                             <p class="alert alert-danger">{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</p>
                         {% endif %}

                         <form action="{{ path('2fa_login_check') }}" method="POST" novalidate="novalidate" class="mt-3">
                             <div class="mb-3">
                                 <label class="w-100">
                                     <input type="text" class="form-control" name="{{ authCodeParameterName }}">
                                 </label>
                             </div>
                             {% if displayTrustedOption %}
                                 <div class="form-check form-switch">
                                     <input class="form-check-input" type="checkbox" id="_trusted" name="{{ trustedParameterName }}">
                                     <label class="form-check-label" for="_trusted">Trusted</label>
                                 </div>
                             {% endif %}

                             <button type="submit" class="btn btn-primary d-grid w-100 my-3" id="submit_two_factor">
                                 Verify my account
                             </button>
                             <div class="text-center">Didn't get the code?
                                 <a href="#">
                                     Resend
                                 </a>
                             </div>
                             <input type="hidden">
                         </form>

                     </div>
                 </div>
                 <!-- /Register -->
             </div>
         </div>
     </div>
 {% endblock %}