{% extends 'base.html.twig' %}

{% block title %}Edit Student{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">

        <nav aria-label="breadcrumb mb-0">
            <ol class="breadcrumb breadcrumb-style2">
                <li class="breadcrumb-item">
                    <a href="{{ path('app_dashboard') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('app_student_index') }}">Student Management</a>
                </li>
                <li class="breadcrumb-item active">Edit Student</li>
            </ol>
        </nav>

        <div class="row">
            <!-- User Sidebar -->
            <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
                <!-- User Card -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="user-avatar-section">
                            <div class=" d-flex align-items-center flex-column">
                                {% if student.imageName is null %}
                                    {% if student.gender == 'Male' %}
                                        <img class="img-fluid rounded my-4" src="{{ asset('assets/img/avatars/male-avatar.svg') }}" alt="User avatar" width="110" height="110">
                                    {% else %}
                                        <img class="img-fluid rounded my-4" src="{{ asset('assets/img/avatars/female-avatar.svg') }}" alt="User avatar" width="110" height="110">
                                    {% endif %}
                                {% else %}
                                    <img class="img-fluid rounded my-4" src="{{ vich_uploader_asset(student) }}" alt="User avatar" width="110" height="110">
                                {% endif %}
                                <div class="user-info text-center">
                                    <h5 class="mb-2 text-capitalize d-flex align-items-center">
                                        <span>{{ student.firstName }} {{ student.lastName }}</span>
                                        <i class='bx bxs-badge-check text-info ms-1'></i>
                                    </h5>
                                    <span class="badge bg-label-info">Student</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around  mb-4 py-3">
                            <div class="d-flex align-items-start me-4 mt-3 gap-3">
                                <span class="badge bg-label-primary p-2 rounded">
                                    <i class="bx bx-time bx-sm"></i>
                                </span>
                                <div>
                                    <h5 class="mb-0">Last Login</h5>
                                    <span>{{ student.createdAt|ago }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between pb-2 border-bottom mb-4 h-100">
                            <span class="fs-5">Details</span>
                        </div>

                        <div class="info-container">
                            <ul class="list-unstyled">
                                <li class="mb-3">
                                    <span class="fw-bold me-2">CIN ID:</span>
                                    <span>{{ student.cardId }}</span>
                                </li>
                                <li class="mb-3">
                                    <span class="fw-bold me-2">Username:</span>
                                    <span>{{ student.username }}</span>
                                </li>
                                <li class="mb-3">
                                    <span class="fw-bold me-2">Email:</span>
                                    <span>{{ student.email }}</span>
                                </li>
                                <li class="mb-3">
                                    <span class="fw-bold me-2">Status:</span>
                                    <span class="badge bg-label-success">Active</span>
                                </li>
                                <li class="mb-3">
                                    <span class="fw-bold me-2">Department:</span>
                                    <span>{{ student.field.department.name }}</span>
                                </li>
                                <li class="mb-3">
                                    <span class="fw-bold me-2">Field:</span>
                                    <span>{{ student.field.name }}</span>
                                </li>
                                <li class="mb-3">
                                    <span class="fw-bold me-2">Joined:</span>
                                    <span>{{ student.createdAt|ago }}</span>
                                </li>
                                <li class="mb-3">
                                    <span class="fw-bold me-2">Contact:</span>
                                    <span>{{ student.mobileNumber }}</span>
                                </li>
                                <li class="mb-3">
                                    <span class="fw-bold me-2">City:</span>
                                    <span>Tangier</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /User Card -->
                <div class="card">
                    <h5 class="card-header">Connected Accounts</h5>
                    <div class="card-body">
                        <p>Display content from your connected accounts on your site</p>
                        <!-- Connections -->
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <img src="{{ asset('assets/img/icons/brands/slack-original.svg') }}" alt="slack" class="me-3" height="30"/>
                            </div>
                            <div class="flex-grow-1 row">
                                <div class="col-9 mb-sm-0 mb-2">
                                    <h6 class="mb-0">Slack</h6>
                                    <small class="text-muted">Communication</small>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input float-end" type="checkbox" role="switch" checked/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <img src="{{ asset('assets/img/icons/brands/github-original.svg') }}" alt="github" class="me-3" height="30"/>
                            </div>
                            <div class="flex-grow-1 row">
                                <div class="col-9 mb-sm-0 mb-2">
                                    <h6 class="mb-0">Github</h6>
                                    <small class="text-muted">Manage your Git repositories</small>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input float-end" type="checkbox" role="switch"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <img src="{{ asset('assets/img/icons/brands/google-original.svg') }}" alt="google" class="me-3" height="30"/>
                            </div>
                            <div class="flex-grow-1 row">
                                <div class="col-9 mb-sm-0 mb-2">
                                    <h6 class="mb-0">Google</h6>
                                    <small class="text-muted">Plan properly your workflow</small>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input float-end" type="checkbox" role="switch" checked/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="{{ asset('assets/img/icons/brands/twitter-original.svg') }}" alt="twitter icon" class="me-3" height="30"/>
                            </div>
                            <div class="flex-grow-1 row">
                                <div class="col-9 mb-sm-0 mb-2">
                                    <h6 class="mb-0">Twitter</h6>
                                    <small class="text-muted">Communication</small>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input float-end" type="checkbox" role="switch" checked/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Connections -->
                    </div>
                </div>
            </div>
            <!--/ User Sidebar -->

            <!-- User Content -->
            <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
                <div class="nav-align-top">
                    <ul class="nav nav-pills mb-3" role="tablist">
                        <li class="nav-item">
                            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-overview"
                                    aria-controls="navs-pills-top-overview" aria-selected="true">
                                Overview
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-security" aria-controls="navs-pills-top-security"
                                    aria-selected="false">
                                Security
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-event-logs" aria-controls="navs-pills-top-event-logs"
                                    aria-selected="false">
                                Event Logs
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="navs-pills-top-overview" role="tabpanel">
                            <!-- Project table -->
                            <div class="card mb-4 tab-pane fade show active">
                                <h5 class="card-header">Student's Courses List</h5>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table datatable-project border-top dataTable no-footer dtr-column" id="datatable">
                                            <thead>
                                            <tr>
                                                <th>Course</th>
                                                <th>Modules</th>
                                                <th class="text-nowrap">Total Session</th>
                                                <th>Hours</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for course in courses %}
                                                <tr>
                                                    <td>
                                                        <span class="text-nowrap">{{ course.shortName }}</span>
                                                    </td>
                                                    <td>
                                                        {% set countRemaining = 0 %}
                                                        {% set totalIterations = course.modules|length %}

                                                        <div class="d-flex align-items-center avatar-group mb-3 mt-3">
                                                            {% for module in course.modules|slice(0, totalIterations) %}
                                                                {% if loop.index > 2 %}
                                                                    {% set countRemaining = countRemaining + 1 %}
                                                                {% else %}

                                                                    <div class="avatar avatar-sm">
                                                                        <img src="{{ vich_uploader_asset(module) }}" alt="Avatar" class="rounded-circle pull-up">
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}

                                                            {% if countRemaining != 0 %}
                                                                <div class="avatar avatar-sm">
                                                                    <span class="avatar-initial rounded-circle pull-up" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                                          title="{{ countRemaining }} more">
                                                                        +{{ countRemaining }}
                                                                    </span>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        0/{{ course.totalSession }}
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-label-primary">{{ course.hours }} hours</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /Project table -->

                            <!-- Activity Timeline -->
                            <div class="card mb-4">
                                <h5 class="card-header">User Details</h5>
                                <div class="card-body">
                                    <div class="row">
                                        {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
                                        <div class="row mt-2">
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label" for="{{ form.cardId.vars.id }}">CIN</label>
                                                {{ form_widget(form.cardId, {'attr': {'class': 'form-control'}}) }}
                                                <div class="invalid-feedback">
                                                    {{ form_errors(form.cardId) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label" for="{{ form.username.vars.id }}">Username</label>
                                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                                <div class="invalid-feedback">
                                                    {{ form_errors(form.username) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label" for="{{ form.firstName.vars.id }}">Firstname</label>
                                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                                <div class="invalid-feedback">
                                                    {{ form_errors(form.firstName) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label" for="{{ form.lastName.vars.id }}">Lastname</label>
                                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                                <div class="invalid-feedback">
                                                    {{ form_errors(form.lastName) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label" for="{{ form.gender.vars.id }}">Gender</label>
                                                {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                                                <div class="invalid-feedback">
                                                    {{ form_errors(form.gender) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label" for="{{ form.email.vars.id }}">Email</label>
                                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                                <div class="invalid-feedback">
                                                    {{ form_errors(form.email) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label" for="{{ form.mobileNumber.vars.id }}">Phone Number</label>
                                                {{ form_widget(form.mobileNumber, {'attr': {'class': 'form-control'}}) }}
                                                <div class="invalid-feedback">
                                                    {{ form_errors(form.mobileNumber) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label" for="{{ form.birthDate.vars.id }}">Date of Birth</label>
                                                {{ form_widget(form.birthDate, {'attr': {'class': 'form-control'}}) }}
                                                <div class="invalid-feedback">
                                                    {{ form_errors(form.birthDate) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label" for="{{ form.imageFile.vars.id }}">Profile Picture</label>
                                                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                                                <div class="invalid-feedback">
                                                    {{ form_errors(form.imageFile) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label" for="{{ form.field.vars.id }}">Field</label>
                                                {{ form_widget(form.field, {'attr': {'class': 'form-control'}}) }}
                                                <div class="invalid-feedback">
                                                    {{ form_errors(form.field) }}
                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" name="student[_token]" id="student_csrfToken" value="{{ csrf_token('student_csrfToken') }}">

                                        <button class="btn btn-label-primary mt-2">Save Changes</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /Activity Timeline -->
                        </div>

                        <div class="tab-pane fade" id="navs-pills-top-security" role="tabpanel">
                            <div class="card mb-4">
                                <div class="card-header h4">Profile</div>

                                <div class="card-body">
                                    <div class="row">
                                        <p class="col-3">Email</p>
                                        <p class="col-8">{{ student.email }}</p>
                                        <div class="col-1">
                                            <button type="button" class="btn btn-sm btn-icon me-2 btn-label-secondary" data-bs-toggle="modal" data-bs-target="#updateEmailModal">
                                                <span class="tf-icons bx bx-pencil"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="col-3">Password</p>
                                        <p class="col-8">············</p>
                                        <div class="col-1">
                                            <button type="button" class="btn btn-sm btn-icon me-2 btn-label-secondary">
                                                <span class="tf-icons bx bx-pencil"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <p class="col-3">Role</p>
                                        <p class="col-8">Professor</p>
                                        <div class="col-1">
                                            <button type="button" class="btn btn-sm btn-icon me-2 btn-label-secondary">
                                                <span class="tf-icons bx bx-pencil"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h4 class="card-title text-capitalize">Two step authentication</h4>
                                    <h6 class="card-subtitle mb-4">Keep your account extra secure with a second authentication step.</h6>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-label-primary dropdown-toggle hide-arrow d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class='bx bx-fingerprint fs-6 me-2'></i>
                                            Add Authentication Step
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Use authenticator app</a></li>
                                            <li><a class="dropdown-item" href="#">Enable one-time password</a></li>
                                        </ul>
                                    </div>

                                    <div class="row mt-4">
                                        <p class="col-3 mb-0">SMS</p>
                                        <p class="col-7">{{ student.mobileNumber }}</p>
                                        <div class="col-1">
                                            <button type="button" class="btn btn-sm btn-icon me-2 btn-label-secondary">
                                                <span class="tf-icons bx bx-pencil"></span>
                                            </button>
                                        </div>
                                        <div class="col-1">
                                            <button type="button" class="btn btn-sm btn-icon me-2 btn-label-secondary">
                                                <span class="tf-icons bx bxs-trash"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                    <p class="small text-muted">If your lose your mobile device or security key, you can <a href="#">generate a backup code</a> to sign in to your account.</p>
                                </div>
                            </div>
                            <div class="card">
                                <h5 class="card-header">Recent Devices</h5>
                                <div class="table-responsive">
                                    <table class="table border-top">
                                        <thead>
                                        <tr>
                                            <th class="text-truncate">Browser</th>
                                            <th class="text-truncate">Device</th>
                                            <th class="text-truncate">Location</th>
                                            <th class="text-truncate">Recent Activities</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-truncate"><i class="bx bxl-windows text-info me-3"></i> <span class="fw-semibold">Chrome on Windows</span></td>
                                            <td class="text-truncate">HP Spectre 360</td>
                                            <td class="text-truncate">Switzerland</td>
                                            <td class="text-truncate">10, July 2021 20:07</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate"><i class="bx bx-mobile-alt text-danger me-3"></i> <span class="fw-semibold">Chrome on iPhone</span></td>
                                            <td class="text-truncate">iPhone 12x</td>
                                            <td class="text-truncate">Australia</td>
                                            <td class="text-truncate">13, July 2021 10:10</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate"><i class="bx bxl-android text-success me-3"></i> <span class="fw-semibold">Chrome on Android</span></td>
                                            <td class="text-truncate">Oneplus 9 Pro</td>
                                            <td class="text-truncate">Dubai</td>
                                            <td class="text-truncate">14, July 2021 15:15</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate"><i class="bx bxl-apple me-3"></i> <span class="fw-semibold">Chrome on MacOS</span></td>
                                            <td class="text-truncate">Apple iMac</td>
                                            <td class="text-truncate">India</td>
                                            <td class="text-truncate">16, July 2021 16:17</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate"><i class="bx bxl-windows text-info me-3"></i> <span class="fw-semibold">Chrome on Windows</span></td>
                                            <td class="text-truncate">HP Spectre 360</td>
                                            <td class="text-truncate">Switzerland</td>
                                            <td class="text-truncate">20, July 2021 21:01</td>
                                        </tr>
                                        <tr>
                                            <td class="text-truncate border-bottom-0"><i class="bx bxl-android text-success me-3"></i> <span class="fw-semibold">Chrome on Android</span></td>
                                            <td class="text-truncate border-bottom-0">Oneplus 9 Pro</td>
                                            <td class="text-truncate border-bottom-0">Dubai</td>
                                            <td class="text-truncate border-bottom-0">21, July 2021 12:22</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="navs-pills-top-event-logs" role="tabpanel">
                            <div class="card">
                                <p>
                                    Oat cake chupa chups dragée donut toffee. Sweet cotton candy jelly beans macaroon gummies cupcake gummi
                                    bears
                                    cake chocolate.
                                </p>
                                <p class="mb-0">
                                    Cake chocolate bar cotton candy apple pie tootsie roll ice cream apple pie brownie cake. Sweet roll icing
                                    sesame snaps caramels danish toffee. Brownie biscuit dessert dessert. Pudding jelly jelly-o tart brownie
                                    jelly.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--/ User Content -->

            {% for flashMessage in app.flashes('success') %}
                {{ component('Toast', {
                    heading: 'Success',
                    type: 'success',
                    message: flashMessage,
                }) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
