{% extends 'base.html.twig' %}

{% block title %}Students{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="h4">Students List</h4>
                </div>

                <div>
                    <a href="{{ path('app_student_new') }}" class="btn btn-secondary add-new btn-primary">
                    <span>
                        <i class="bx bx-plus me-0 me-sm-1"></i>
                        <span class="d-none d-sm-inline-block">Add New Student
                        </span>
                    </span>
                    </a>
                </div>

            </div>

            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <table id="datatable" class="table border-top dataTable table-striped">
                        <thead>
                        <tr>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Plan: activate to sort column ascending">ID
                            </th>
                            <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 0; display: none;"
                                aria-label=""></th>
                            <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="User: activate to sort column ascending" style="width: 150px" aria-sort="descending">Student
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Role: activate to sort column ascending">Field
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                aria-label="Status: activate to sort column ascending">Last Login
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Role: activate to sort column ascending">Two-Step
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Role: activate to sort column ascending">Joined Date
                            </th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if students is empty %}
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div class="d-flex flex-column align-items-center py-3">
                                        <img src="{{ asset('assets/img/illustrations/empty.svg') }}" width="200" alt="empty svg">
                                        <span class="mt-2">No row found</span>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            {% for student in students %}
                                <tr class="{{ student.id is odd ? 'odd' : 'even' }}">
                                    <td class="  control" style="display: none;" tabindex="0"></td>
                                    <td>
                                        <span class="fw-semibold">{{ student.id }}</span>
                                    </td>
                                    <td class="sorting_1">
                                        <div class="d-flex justify-content-start align-items-center user-name">
                                            <div class="avatar-wrapper">
                                                <div class="avatar avatar-sm me-3">
                                                    {% if student.imageName is null %}
                                                        <span class="avatar-initial rounded-circle bg-label-{{ random(['success', 'info', 'primary', 'secondary', 'dark', 'warning', 'danger']) }}"
                                                        >
                                                                            {{ student.firstName|first }}{{ student.lastName|first }}
                                                                        </span>
                                                    {% else %}
                                                        <img src="{{ vich_uploader_asset(student) }}" alt="Avatar" class="rounded-circle">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <a href="#" class="text-body text-truncate">
                                                    <span class="fw-semibold text-capitalize">{{ student.firstName }} {{ student.lastName }}</span>
                                                </a>
                                                <small class="text-muted">{{ student.email }}</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="badge bg-label-info" title="{{ student.field.name }}">{{ student.field.shortName }}</span>
                                    </td>
                                    <td>
                                        <span class="badge bg-label-dark fs-tiny text-lowercase">2 days ago</span>
                                    </td>
                                    <td>
                                        auth code
                                    </td>
                                    <td>
                                        <span class="fs-6">{{ student.createdAt|date('d/m/y') }}</span>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-label-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('app_student_edit', {'id': student.id}) }}">Edit</a>
                                                </li>
                                                <li>
                                                    {{ include('student/_delete_form.html.twig') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
