{% extends 'base.html.twig' %}

{% block title %}Section{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">

        <h4 class="fw-bold py-3 mb-2">Sections List</h4>
        <p class="mb-4">Each category (Basic, Professional, and Business) includes the four predefined roles shown below.</p>

        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <table id="datatable" class="table border-top dataTable table-striped" style="width: 1130px;">
                        <thead>
                        <tr>
                            <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 0; display: none;" aria-label=""></th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Assigned To">Professor</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">
                                Field
                            </th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Assigned To">Course</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Assigned To">Semester</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Assigned To">Year</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if sections is empty %}
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div class="d-flex flex-column align-items-center py-3">
                                        <img src="{{ asset('assets/img/illustrations/empty.svg') }}" width="200" alt="empty svg">
                                        <span class="mt-2">No record found</span>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            {% for section in sections %}
                                <tr class="{{ section.id is odd ? 'odd' : 'even' }}">
                                    <td class="control" style="display: none;" tabindex="0"></td>
                                    <td class="sorting_1">
                                        <div class="d-flex justify-content-start align-items-center user-name">
                                            {% if section.professor is empty %}
                                                <span class="badge bg-label-warning">No professor</span>
                                            {% else %}
                                                {% for professor in section.professor %}
                                                    <div class="avatar-wrapper">
                                                        <div class="avatar avatar-sm me-3">
                                                            {#                                                <img src="{{ user.imageName }}" alt="Avatar" class="rounded-circle"> #}
                                                            <span class="avatar-initial rounded-circle bg-label-{{ random(['success', 'info', 'primary']) }}">
                                                    {{ professor.firstName|first }}{{ professor.lastName|first }}
                                                    </span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-column">
                                                        <a href="{{ path('app_user_edit', {'id': professor.id}) }}" class="text-body text-truncate">
                                                            <span class="fw-semibold text-capitalize">{{ professor.firstName }} {{ professor.lastName }}</span>
                                                        </a>
                                                        <small class="text-muted">{{ professor.email }}</small>
                                                    </div>
                                                {% endfor %}

                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <span title="{{ section.field.name }}" class="text-nowrap text-capitalize">
                                            {{ section.field.shortName }}
                                        </span>
                                    </td>
                                    <td>
                                        <span title="{{ section.course.name }}" class="text-nowrap">
                                            {{ section.course.name|length > 20 ? section.course.name|slice(0, 30) ~ '...' : section.course.name }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge bg-label-info text-nowrap">Semester {{ section.semester }}</span>
                                    </td>
                                    <td>
                                        <span class="text-nowrap">{{ section.year|ago }}</span>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-label-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('app_section_edit', {'id': section.id}) }}">Edit</a>
                                                </li>
                                                <li>
                                                    {{ include('section/_delete_form.html.twig') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
