{% extends 'base.html.twig' %}

{% block title %}Section{% endblock %}

{% block body %}
    <h1>Section</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ section.id }}</td>
            </tr>
            <tr>
                <th>Semester</th>
                <td>{{ section.semester }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ section.year ? section.year|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>RoomNo</th>
                <td>{{ section.roomNo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_section_index') }}">back to list</a>

    <a href="{{ path('app_section_edit', {'id': section.id}) }}">edit</a>

    {{ include('section/_delete_form.html.twig') }}
{% endblock %}
