{% extends 'base.html.twig' %}

{% block title %}Fields{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">

        <h4 class="fw-bold py-3 mb-2">Fields List</h4>
        <p class="mb-4">Each category (Basic, Professional, and Business) includes the four predefined roles shown below.</p>

        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <table id="datatable" class="table border-top dataTable table-striped" style="width: 1130px;">
                        <thead>
                        <tr>
                            <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 0; display: none;" aria-label=""></th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">
                                Name
                            </th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Assigned To">Status</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Assigned To">Type</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Assigned To">degree</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if fields is empty %}
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div class="d-flex flex-column align-items-center py-3">
                                        <img src="{{ asset('assets/img/illustrations/empty.svg') }}" width="200" alt="empty svg">
                                        <span class="mt-2">No row found.</span>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            {% for field in fields %}
                                <tr class="{{ field.id is odd ? 'odd' : 'even' }}">
                                    <td class="control" style="display: none;" tabindex="0"></td>
                                    <td class="sorting_1">
                                        <span title="{{ field.name }}" class="text-nowrap">{{ field.name|length > 20 ? field.name|slice(0, 20) ~ '...' : field.name }}</span>
                                    </td>
                                    <td>
                                        {% if field.status == 'Accredited' %}
                                            <span class="badge bg-label-success">{{ field.status|capitalize }}</span>
                                        {% elseif field.status == 'Pending' %}
                                            <span class="badge bg-label-warning">{{ field.status|capitalize }}</span>
                                        {% else %}
                                            <span class="badge bg-label-danger">{{ field.status|capitalize }}</span>
                                        {% endif %}

                                    </td>
                                    <td>
                                        <span class="text-nowrap">{{ field.type|capitalize }}</span>
                                    </td>
                                    <td>
                                        <span class="text-nowrap">{{ field.degree }}</span>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-label-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('app_field_edit', {'id': field.id}) }}">Edit</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">Show</a>
                                                </li>
                                                <li>
                                                    {{ include('field/_delete_form.html.twig') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
