{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">

        {#        <h4 class="fw-bold py-3 mb-2">Modules List</h4> #}
        {#        <p class="mb-4">Each category (Basic, Professional, and Business) includes the four predefined roles shown below.</p> #}
        {#        <div class="card mb-4"> #}
        {#            <div class="d-flex align-items-end row"> #}
        {#                <div class="col-sm-7"> #}
        {#                    <div class="card-body"> #}
        {#                        <h5 class="card-title text-primary">Congratulations John! 🎉</h5> #}
        {#                        <p class="mb-4">You have done <span class="fw-bold">72%</span> more sales today. Check your new badge in your profile.</p> #}

        {#                        <a href="javascript:;" class="btn btn-sm btn-label-primary">View Badges</a> #}
        {#                    </div> #}
        {#                </div> #}
        {#                <div class="col-sm-5 text-center text-sm-left"> #}
        {#                    <div class="card-body pb-0 px-0 px-md-4"> #}
        {#                        <img src="../../assets/img/illustrations/man-with-laptop-light.png" alt="View Badge User" data-app-light-img="illustrations/man-with-laptop-light.png" #}
        {#                             data-app-dark-img="illustrations/man-with-laptop-dark.png" height="140"> #}
        {#                    </div> #}
        {#                </div> #}
        {#            </div> #}
        {#        </div> #}
        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <table id="datatable" class="table border-top dataTable table-striped" style="width: 1130px;">
                        <thead>
                        <tr>
                            <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label=""></th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">
                                Name
                            </th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Assigned To">Department</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Assigned To">Course</th>
                            <th class="sorting_disabled text-nowrap" rowspan="1" colspan="1" aria-label="Created Date">Created Date</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 80px;" aria-label="Actions">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if modules is empty %}
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div class="d-flex flex-column align-items-center py-3">
                                        <img src="{{ asset('assets/img/illustrations/empty.svg') }}" width="200" alt="empty svg">
                                        <span class="mt-2">No row found.</span>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            {% for module in modules %}
                                <tr class="{{ module.id is odd ? 'odd' : 'even' }}">
                                    <td class="control" style="display: none;" tabindex="0"></td>
                                    <td class="sorting_1">
                                        <div class="d-flex justify-content-start align-items-center user-name">
                                            <div class="avatar-wrapper">
                                                <div class="avatar-sm me-3">
                                                    <img src="{{ vich_uploader_asset(module) }}" alt="Avatar" class="rounded">
                                                </div>
                                            </div>
                                            <span class="text-nowrap">
                                                <strong>{{ module.name }}</strong>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-nowrap">{{ module.course.department.name }}</span>
                                    </td>
                                    <td>
                                        <span class="text-nowrap">{{ module.course.name }}</span>
                                    </td>
                                    <td>
                                        <span class="text-nowrap">{{ module.createdAt|date('d/m/y') }}</span>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-label-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                </li>
                                                <li>
                                                    {{ include('module/_delete_form.html.twig') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% for flashMessage in app.flashes('success') %}
        {{ component('Toast', {
            heading: 'Success',
            type: 'success',
            message: flashMessage
        }) }}
    {% endfor %}

{% endblock %}
