{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">

        <h4 class="fw-bold py-3 mb-2">Modules List</h4>
        <p class="mb-4">Each category (Basic, Professional, and Business) includes the four predefined roles shown below.</p>

        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="row mx-1">
                        <div class="col-sm-12 col-md-3">
                            <div class="dataTables_length" id="DataTables_Table_0_length">
                                <label>
                                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-md-end justify-content-center flex-wrap me-1">
                                <div class="me-3">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                        <label>Search
                                            <input type="search" class="form-control" placeholder="Search.." aria-controls="DataTables_Table_0">
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-secondary add-new btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button">
                                    <a href="{{ path('app_module_new') }}" class="text-white">
                                        <i class='bx bx-plus me-0 me-sm-1'></i>
                                        <span class="d-none d-sm-inline-block">Add Module</span>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="table border-top dataTable table-striped" style="width: 1130px;">
                        <thead>
                        <tr>
                            <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label=""></th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 400px;" aria-label="Name: activate to sort column ascending">
                                Name
                            </th>
                            {#                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 600px;" aria-label="Assigned To">Description</th> #}
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 400px;" aria-label="Assigned To">Department</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 500px;" aria-label="Assigned To">Description</th>
                            {#                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 150px;" aria-label="Assigned To">hours</th> #}
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 234px;" aria-label="Created Date">Created Date</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 112px;" aria-label="Actions">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if modules is empty %}
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div class="d-flex flex-column align-items-center py-3">
                                        <img src="{{ asset('assets/img/illustrations/empty.svg') }}" width="200" alt="empty svg">
                                        <span class="mt-2">Not enough data</span>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            {% for module in modules %}
                                <tr class="{{ module.id is odd ? 'odd' : 'even' }}">
                                    <td class="control" style="display: none;" tabindex="0"></td>
                                    <td class="sorting_1">
                                        <div class="d-flex justify-content-start align-items-center user-name">
                                            <div class="avatar-wrapper">
                                                <div class="avatar-sm me-3">
                                                    <img src="{{ vich_uploader_asset(module) }}" alt="Avatar" class="rounded">
                                                </div>
                                            </div>
                                            <span class="text-nowrap">
                                                <strong>{{ module.name }}</strong>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-nowrap">{{ module.description|length > 30 ? module.description|slice(0, 30) ~ '...' : module.description }}</span>
                                    </td>
                                    <td>
                                        <span class="text-nowrap">{{ module.course.department.name }}</span>
                                    </td>
                                    <td>
                                        <span class="text-nowrap">{{ module.createdAt|date }}</span>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-label-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                </li>
                                                <li>
                                                    {{ include('module/_delete_form.html.twig') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="row mx-2">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 9 of 9 entries</div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="previous" tabindex="0" class="page-link">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next">
                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="next" tabindex="0" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for flashMessage in app.flashes('success') %}
        {{ component('Toast', {
            heading: 'Success',
            type: 'success',
            message: flashMessage
        }) }}
    {% endfor %}

{% endblock %}
