{% extends 'base.html.twig' %}
{% block title %} User {% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row g-4 mb-4">
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Session</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="mb-0 me-2">{{ totalUsers[1] }}</h4>
                                    <small class="text-success">(+29%)</small>
                                </div>
                                <small>Total Users</small>
                            </div>
                            <span class="badge bg-label-primary rounded p-2">
                              <i class="bx bx-user bx-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Students</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="mb-0 me-2">{{ totalStudents[1] }}</h4>
                                    <small class="text-success">(+18%)</small>
                                </div>
                                <small>Total Students</small>
                            </div>
                            <span class="badge bg-label-danger rounded p-2">
                                <i class='bx bxs-graduation bx-sm'></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Human Resources</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="mb-0 me-2">23</h4>
                                    <small class="text-danger">(-14%)</small>
                                </div>
                                <small>Total Human Resources</small>
                            </div>
                            <span class="badge bg-label-success rounded p-2">
                              <i class="bx bx-group bx-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Admin</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="mb-0 me-2">237</h4>
                                    <small class="text-success">(+42%)</small>
                                </div>
                                <small>Total Admin</small>
                            </div>
                            <span class="badge bg-label-warning rounded p-2">
                                <i class="bx bx-check-shield bx-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <table id="datatable" class="table border-top dataTable table-striped">
                        <thead>
                        <tr>
                            <th class="sorting text-nowrap">Emp ID
                            </th>
                            <th class="control sorting_disabled dtr-hidden" style="width: 0; display: none;"></th>
                            <th class="sorting sorting_desc" style="width: 100px" aria-sort="descending">User
                            </th>
                            <th class="sorting">Role
                            </th>
                            <th class="sorting text-nowrap">Last Login
                            </th>
                            <th class="sorting text-nowrap">Two-Step
                            </th>
                            <th class="sorting text-nowrap">Joined Date
                            </th>
                            <th class="sorting_disabled">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for user in users %}
                            <tr class="{{ user.id is odd ? 'odd' : 'even' }}">
                                <td class="  control" style="display: none;" tabindex="0"></td>
                                <td>
                                    <span class="fs-tiny fw-semibold">{{ user.employeeId }}</span>
                                </td>
                                <td class="sorting_1">
                                    <div class="d-flex justify-content-start align-items-center user-name">
                                        <div class="avatar-wrapper">
                                            <div class="avatar avatar-sm me-3">
                                                {% if user.imageName is null %}
                                                    <span class="avatar-initial rounded-circle bg-label-{{ random(['success', 'info', 'primary', 'secondary', 'dark', 'warning', 'danger']) }}">
                                                        {{ user.firstName|first }}{{ user.lastName|first }}
                                                    </span>
                                                {% else %}
                                                    <img src="{{ vich_uploader_asset(user) }}" alt="Avatar" class="rounded-circle">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <a href="#" class="text-body text-truncate">
                                                <span class="fw-semibold text-capitalize">{{ user.firstName }} {{ user.lastName }}</span>
                                            </a>
                                            <small class="text-muted">{{ user.email }}</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {% for role in user.roles %}
                                        {% if role == "ROLE_ADMIN" %}
                                            <span class="text-truncate d-flex align-items-center">
                                                <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                                                    <i class='bx bx-shield-quarter bx-xs'></i>
                                                </span>
                                                Admin
                                            </span>
                                        {% elseif role == "ROLE_PROFESSOR" %}
                                            <span class="text-truncate d-flex align-items-center">
                                                <span class="badge badge-center rounded-pill bg-label-warning w-px-30 h-px-30 me-2">
                                                    <i class='bx bx-user bx-xs'></i>
                                                </span>
                                                Professor
                                            </span>
                                        {% elseif role == "ROLE_HUMAN_RESOURCES" %}
                                            <span class="text-truncate d-flex align-items-center">
                                                <span class="badge badge-center rounded-pill bg-label-info w-px-30 h-px-30 me-2">
                                                    <i class='bx bxs-business bx-xs'></i>
                                                </span>
                                                Human Resources
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <span class="badge bg-label-dark fs-tiny text-lowercase">2 days ago</span>
                                </td>
                                <td>
                                    {% if user.authCode is not null %}
                                        <span class="badge bg-label-success fs-tiny">
                                            Enabled
                                        </span>
                                    {% else %}
                                        <span class="badge bg-label-danger fs-tiny">
                                            Disabled
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="fs-6">{{ user.createdAt|date('d/m/y') }}</span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-label-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
                                            </li>
                                            <li>
                                                {{ include('user/_delete_form.html.twig') }}
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}