{% extends 'base.html.twig' %}
{% block title %} User {% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row g-4 mb-4">
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Session</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="mb-0 me-2">{{ totalUsers[1] }}</h4>
                                    <small class="text-success">(+29%)</small>
                                </div>
                                <small>Total Users</small>
                            </div>
                            <span class="badge bg-label-primary rounded p-2">
                              <i class="bx bx-user bx-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Students</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="mb-0 me-2">{{ totalStudents[1] }}</h4>
                                    <small class="text-success">(+18%)</small>
                                </div>
                                <small>Total Students</small>
                            </div>
                            <span class="badge bg-label-danger rounded p-2">
                                <i class='bx bxs-graduation bx-sm'></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Human Resources</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="mb-0 me-2">23</h4>
                                    <small class="text-danger">(-14%)</small>
                                </div>
                                <small>Total Human Resources</small>
                            </div>
                            <span class="badge bg-label-success rounded p-2">
                              <i class="bx bx-group bx-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Admin</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="mb-0 me-2">237</h4>
                                    <small class="text-success">(+42%)</small>
                                </div>
                                <small>Total Admin</small>
                            </div>
                            <span class="badge bg-label-warning rounded p-2">
                                <i class="bx bx-check-shield bx-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            {#            <div class="card-header border-bottom"> #}
            {#                <h5 class="card-title">Users List</h5> #}
            {#                <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0"> #}
            {#                    #}{#                    <div class="col-md-4 user_role"> #}
            {#                    #}{#                        <select id="UserRole" class="form-select text-capitalize"> #}
            {#                    #}{#                            <option value=""> Select Role</option> #}
            {#                    #}{#                            <option value="Admin">Admin</option> #}
            {#                    #}{#                            <option value="Author">Author</option> #}
            {#                    #}{#                            <option value="Editor">Editor</option> #}
            {#                    #}{#                            <option value="Maintainer">Maintainer</option> #}
            {#                    #}{#                            <option value="Subscriber">Subscriber</option> #}
            {#                    #}{#                        </select></div> #}
            {#                    #}{#                    <div class="col-md-4 user_plan"> #}
            {#                    #}{#                        <select id="UserPlan" class="form-select text-capitalize"> #}
            {#                    #}{#                            <option value=""> Select Plan</option> #}
            {#                    #}{#                            <option value="Basic">Basic</option> #}
            {#                    #}{#                            <option value="Company">Company</option> #}
            {#                    #}{#                            <option value="Enterprise">Enterprise</option> #}
            {#                    #}{#                            <option value="Team">Team</option> #}
            {#                    #}{#                        </select> #}
            {#                    #}{#                    </div> #}
            {#                    #}{#                    <div class="col-md-4 user_status"> #}
            {#                    #}{#                        <select id="FilterTransaction" class="form-select text-capitalize"> #}
            {#                    #}{#                            <option value=""> Select Status</option> #}
            {#                    #}{#                            <option value="Pending" class="text-capitalize">Pending</option> #}
            {#                    #}{#                            <option value="Active" class="text-capitalize">Active</option> #}
            {#                    #}{#                            <option value="Inactive" class="text-capitalize">Inactive</option> #}
            {#                    #}{#                        </select> #}
            {#                    #}{#                    </div> #}
            {#                </div> #}
            {#            </div> #}
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    {#                    <div class="row mx-2"> #}
                    {#                        <div class="col-md-2"> #}
                    {#                            <div class="me-3"> #}
                    {#                                <div class="dataTables_length" id="DataTables_Table_0_length"> #}
                    {#                                    <label> #}
                    {#                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select"> #}
                    {#                                            <option value="10">10</option> #}
                    {#                                            <option value="25">25</option> #}
                    {#                                            <option value="50">50</option> #}
                    {#                                            <option value="100">100</option> #}
                    {#                                        </select> #}
                    {#                                    </label> #}
                    {#                                </div> #}
                    {#                            </div> #}
                    {#                        </div> #}
                    {#                        <div class="col-md-10"> #}
                    {#                            <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"> #}
                    {#                                <div id="datatable_filter" class="dataTables_filter"> #}
                    {#                                    <div class="input-group input-group-merge"> #}
                    {#                                    <span class="input-group-text" id="basic-addon-search31"> #}
                    {#                                            <i class="bx bx-search"></i> #}
                    {#                                        </span> #}
                    {#                                        <input type="text" class="form-control" placeholder="Search..." #}
                    {#                                               aria-label="Search..." aria-controls="datatable"> #}
                    {#                                    </div> #}
                    {#                                </div> #}
                    {#                                <div class="dt-buttons btn-group flex-wrap"> #}
                    {#                                    <div class="btn-group"> #}
                    {#                                        <button class="btn btn-secondary buttons-collection dropdown-toggle btn-outline-secondary mx-3" #}
                    {#                                                type="button" id="dropdownMenuButtonIcon" #}
                    {#                                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> #}
                    {#                                            <i class="bx bx-export me-1"></i> Export #}
                    {#                                        </button> #}
                    {#                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonIcon" style=""> #}
                    {#                                            <li> #}
                    {#                                                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);"> #}
                    {#                                                    <i class='bx bx-printer me-2'></i> Print #}
                    {#                                                </a> #}
                    {#                                            </li> #}
                    {#                                            <li> #}
                    {#                                                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);"> #}
                    {#                                                    <i class='bx bx-file me-2'></i> #}
                    {#                                                    CSV #}
                    {#                                                </a> #}
                    {#                                            </li> #}
                    {#                                            <li> #}
                    {#                                                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);"> #}
                    {#                                                    <i class='bx bxs-file-export me-2'></i> #}
                    {#                                                    Excel #}
                    {#                                                </a> #}
                    {#                                            </li> #}
                    {#                                            <li> #}
                    {#                                                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);"> #}
                    {#                                                    <i class='bx bxs-file-pdf me-2'></i> #}
                    {#                                                    PDF #}
                    {#                                                </a> #}
                    {#                                            </li> #}
                    {#                                        </ul> #}
                    {#                                    </div> #}

                    {#                                    <button class="btn btn-secondary add-new btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button"> #}
                    {#                                        <a href="{{ path('app_user_new') }}" class="text-white"> #}
                    {#                                            <i class='bx bx-plus me-0 me-sm-1'></i> #}
                    {#                                            <span class="d-none d-sm-inline-block">Add User</span> #}
                    {#                                        </a> #}
                    {#                                    </button> #}
                    {#                                </div> #}
                    {#                            </div> #}
                    {#                        </div> #}
                    {#                    </div> #}
                    <table id="datatable" class="table border-top dataTable table-striped">
                        <thead>
                        <tr>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Plan: activate to sort column ascending">Emp ID
                            </th>
                            <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 0; display: none;"
                                aria-label=""></th>
                            <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="User: activate to sort column ascending" style="width: 100px" aria-sort="descending">User
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Role: activate to sort column ascending">Role
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                aria-label="Status: activate to sort column ascending">Last Login
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Role: activate to sort column ascending">Two-Step
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                aria-label="Role: activate to sort column ascending">Joined Date
                            </th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for user in users %}
                            <tr class="{{ user.id is odd ? 'odd' : 'even' }}">
                                <td class="  control" style="display: none;" tabindex="0"></td>
                                <td>
                                    <span class="fs-tiny fw-semibold">{{ user.employeeId }}</span>
                                </td>
                                <td class="sorting_1">
                                    <div class="d-flex justify-content-start align-items-center user-name">
                                        <div class="avatar-wrapper">
                                            <div class="avatar avatar-sm me-3">
                                                {% if user.imageName is null %}
                                                    <span class="avatar-initial rounded-circle bg-label-{{ random(['success', 'info', 'primary', 'secondary', 'dark', 'warning', 'danger']) }}"
                                                    >
                                                                        {{ user.firstName|first }}{{ user.lastName|first }}
                                                                    </span>
                                                {% else %}
                                                    <img src="{{ vich_uploader_asset(user) }}" alt="Avatar" class="rounded-circle">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <a href="#" class="text-body text-truncate">
                                                <span class="fw-semibold text-capitalize">{{ user.firstName }} {{ user.lastName }}</span>
                                            </a>
                                            <small class="text-muted">{{ user.email }}</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {% for role in user.roles %}
                                        {% if role == "ROLE_ADMIN" %}
                                            <span class="text-truncate d-flex align-items-center">
                                                                    <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                                                                        <i class='bx bx-shield-quarter bx-xs'></i>
                                                                    </span>
                                                                    Admin
                                                                </span>
                                        {% elseif role == "ROLE_PROFESSOR" %}
                                            <span class="text-truncate d-flex align-items-center">
                                                                    <span class="badge badge-center rounded-pill bg-label-warning w-px-30 h-px-30 me-2">
                                                                        <i class='bx bx-user bx-xs'></i>
                                                                    </span>
                                                                    Professor
                                                                </span>
                                        {% elseif role == "ROLE_HUMAN_RESOURCES" %}
                                            <span class="text-truncate d-flex align-items-center">
                                                                    <span class="badge badge-center rounded-pill bg-label-info w-px-30 h-px-30 me-2">
                                                                        <i class='bx bxs-business bx-xs'></i>
                                                                    </span>
                                                                    Human Resources
                                                                </span>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <span class="badge bg-label-dark fs-tiny text-lowercase">2 days ago</span>
                                </td>
                                <td>
                                    {% if user.authCode is not null %}
                                        <span class="badge bg-label-success fs-tiny">
                                                                Enabled
                                                            </span>
                                    {% else %}
                                        <span class="badge bg-label-danger fs-tiny">
                                                                Disabled
                                                            </span>
                                    {% endif %}


                                </td>
                                <td>
                                    <span class="fs-6">{{ user.createdAt|date('d/m/y') }}</span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-label-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
                                            </li>
                                            <li>
                                                {{ include('user/_delete_form.html.twig') }}
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- Insert this where you want the table to appear -->
                    {#                    <div id="presidents" class="table border-top dataTable table-striped">Loading...</div> #}

                    <!-- Insert this at the end of your body element, but before the closing tag -->

                    {#                    <div class="row mx-2"> #}
                    {#                        <div class="col-sm-12 col-md-6"> #}
                    {#                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of #}
                    {#                                50 entries #}
                    {#                            </div> #}
                    {#                        </div> #}
                    {#                        <div class="col-sm-12 col-md-6"> #}
                    {#                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"> #}
                    {#                                <ul class="pagination"> #}
                    {#                                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"> #}
                    {#                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="previous" #}
                    {#                                           tabindex="0" class="page-link">Previous #}
                    {#                                        </a> #}
                    {#                                    </li> #}
                    {#                                    <li class="paginate_button page-item active"> #}
                    {#                                        <a href="#" aria-controls="DataTables_Table_0" #}
                    {#                                           data-dt-idx="0" tabindex="0" class="page-link">1 #}
                    {#                                        </a> #}
                    {#                                    </li> #}
                    {#                                    <li class="paginate_button page-item "> #}
                    {#                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" #}
                    {#                                           tabindex="0" class="page-link">2 #}
                    {#                                        </a> #}
                    {#                                    </li> #}
                    {#                                    <li class="paginate_button page-item "> #}
                    {#                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" #}
                    {#                                           tabindex="0" class="page-link">3 #}
                    {#                                        </a> #}
                    {#                                    </li> #}
                    {#                                    <li class="paginate_button page-item "> #}
                    {#                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" #}
                    {#                                           tabindex="0" class="page-link">4 #}
                    {#                                        </a> #}
                    {#                                    </li> #}
                    {#                                    <li class="paginate_button page-item "> #}
                    {#                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" #}
                    {#                                           tabindex="0" class="page-link">5 #}
                    {#                                        </a> #}
                    {#                                    </li> #}
                    {#                                    <li class="paginate_button page-item next" id="DataTables_Table_0_next"> #}
                    {#                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="next" tabindex="0" class="page-link">Next #}
                    {#                                        </a> #}
                    {#                                    </li> #}
                    {#                                </ul> #}
                    {#                            </div> #}
                    {#                        </div> #}
                    {#                    </div> #}
                </div>
            </div>
        </div>
    </div>

{% endblock %}