{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">

        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">User/</span>
            New User
        </h4>

        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <!-- Account Details -->
                    <div class="card-header">
                        <h5 class="fw-semibold">Account Details</h5>
                        <hr class="mt-0"/>
                    </div>

                    {# store the errors in a variable #}
                    {% set usernameError = form_errors(form.username) ? 'form-control is-invalid' : 'form-control' %}
                    {% set firstNameError = form_errors(form.firstName) ? 'form-control is-invalid' : 'form-control' %}
                    {% set lastNameError = form_errors(form.lastName) ? 'form-control is-invalid' : 'form-control' %}
                    {% set emailError = form_errors(form.lastName) ? 'form-control is-invalid' : 'form-control' %}
                    {% set passwordFirstError = form_errors(form.password.first) ? 'form-control is-invalid' : 'form-control' %}
                    {% set passwordSecondtError = form_errors(form.password.second) ? 'form-control is-invalid' : 'form-control' %}
                    {% set employeeIdError = form_errors(form.employeeId) ? 'form-control is-invalid' : 'form-control' %}
                    {% set cardIdError = form_errors(form.cardId) ? 'form-control is-invalid' : 'form-control' %}
                    {% set phoneError = form_errors(form.phoneNumber) ? 'form-control is-invalid' : 'form-control' %}
                    {% set dateError = form_errors(form.dateOfBirth) ? 'form-control is-invalid' : 'form-control' %}
                    {% set genderError = form_errors(form.gender) ? 'form-control is-invalid' : 'form-control' %}

                    <div class="card-body">
                        {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label class="form-label" for="{{ form.username.vars.id }}">Username</label>
                                {{ form_widget(form.username, {'attr': {'class': usernameError}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.username) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="{{ form.firstName.vars.id }}">First Name</label>
                                {{ form_widget(form.firstName, {'attr': {'class': firstNameError}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.firstName) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="{{ form.lastName.vars.id }}">Last Name</label>
                                {{ form_widget(form.lastName, {'attr': {'class': lastNameError}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.lastName) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="email">Email</label>
                                {{ form_widget(form.email, {'attr': {'class': emailError}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-password-toggle">
                                    <label class="form-label" for="{{ form.password.first.vars.id }}">Password</label>
                                    <div class="input-group input-group-merge">
                                        {{ form_widget(form.password.first, {'attr': {'class': passwordFirstError}}) }}
                                        <span class="input-group-text cursor-pointer" id="multicol-password2"><i class="bx bx-hide"></i></span>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form.password.first) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-password-toggle">
                                    <label class="form-label" for="{{ form.password.second.vars.id }}">Confirm Password</label>
                                    <div class="input-group input-group-merge">
                                        {{ form_widget(form.password.second, {'attr': {'class': passwordSecondtError}}) }}
                                        <span class="input-group-text cursor-pointer" id="multicol-confirm-password2"><i class="bx bx-hide"></i></span>
                                        <div class="invalid-feedback">
                                            {{ form_errors(form.password.second) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Personal Info -->

                            <div class="col-12">
                                <h5 class="mt-2 fw-semibold">Personal Info</h5>
                                <hr class="mt-0"/>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label" for="{{ form.employeeId.vars.id }}">Employee ID</label>
                                {{ form_widget(form.employeeId, {'attr': {'class': employeeIdError}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.employeeId) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="{{ form.cardId.vars.id }}">CIN</label>
                                {{ form_widget(form.cardId, {'attr': {'class': cardIdError}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.cardId) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="{{ form.phoneNumber.vars.id }}">Phone no</label>
                                {{ form_widget(form.phoneNumber, {'attr': {'class': phoneError}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.phoneNumber) }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="formValidationFile" class="form-label">Profile Pic</label>
                                <input class="form-control" type="file" id="formValidationFile" name="formValidationFile" placeholder="Choose profile pic">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="formValidationDob">Date of Birth</label>
                                {{ form_widget(form.dateOfBirth, {'attr': {'class': dateError}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.dateOfBirth) }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label" for="{{ form.gender.vars.id }}">Gender</label>
                                {{ form_widget(form.gender, {'attr': {'class': genderError}}) }}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.gender) }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label" for="address">Address Line</label>
                                <input type="text" class="form-control" name="address" id="address" placeholder="Rue Mohamed V"/>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label" for="gender">City</label>
                                <select id="gender" name="gender" class="form-select">
                                    <option value="">Choose...</option>
                                    <option value="Australia">Male</option>
                                    <option value="Bangladesh">Female</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="zipCode">Zip Code</label>
                                <input type="number" class="form-control" name="address" id="zipCode" placeholder="90000"/>
                            </div>


                            <!-- Choose Your Plan -->

                            <div class="col-12">
                                <h5 class="mt-2 fw-semibold">Security & Roles</h5>
                                <hr class="mt-0"/>
                            </div>
                            <div class="alert alert-info d-flex" role="alert">
                                <span class="me-2">
                                    <i class='bx bxs-error-circle fs-1'></i>
                                </span>
                                <div class="d-flex flex-column ps-1 text-black">
                                    <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">Choose User Role</h6>
                                    <span class="w-75">For security reasons please choose role carefully, the Administrator will receive a notification. For more info, please read our
                                        <a href="#">Security Section</a>.
                                    </span>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-xl-3 col-md-5 col-sm-6 col-12">
                                    <div class="form-check custom-option custom-option-icon">
                                        <label class="form-check-label custom-option-content" for="basicPlanMain1">
                                              <span class="custom-option-body">
                                                <i class='bx bx-shield-quarter'></i>
                                                <span class="custom-option-title"> Administrator </span>
                                                <small>Can have access to the hole system.</small>
                                              </span>
                                            <input name="formValidationPlan" class="form-check-input" type="radio" value="admin" id="basicPlanMain1"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-5 col-sm-6 col-12">
                                    <div class="form-check custom-option custom-option-icon">
                                        <label class="form-check-label custom-option-content" for="basicPlanMain2">
                                              <span class="custom-option-body">
                                                <i class="bx bx-user"></i>
                                                <span class="custom-option-title"> Professor </span>
                                                <small>Can have access to some parts of the system.</small>
                                              </span>
                                            <input name="formValidationPlan" class="form-check-input" type="radio" value="professor" id="basicPlanMain2" checked/>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-5 col-sm-6 col-12">
                                    <div class="form-check custom-option custom-option-icon">
                                        <label class="form-check-label custom-option-content" for="basicPlanMain3">
                                          <span class="custom-option-body">
                                            <i class='bx bxs-business'></i>
                                            <span class="custom-option-title"> Human Resources </span>
                                            <small>Can have access to what users need in the system.</small>
                                          </span>
                                            <input name="formValidationPlan" class="form-check-input" type="radio" value="humanResources" id="basicPlanMain3"/>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            {# CSRF Token #}
                            {{ form_rest(form) }}

                            <div class="col-12 mt-2">
                                <button type="submit" name="createUser" class="btn btn-label-primary">Create User</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}